#skill{
    overflow: hidden;
    width: 120vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    margin-top: 3rem;
    color: #0ef;
}
.skillTitleMy{
    color: whitesmoke;
}

.skilldesc{
    max-width: 55rem;
    padding : 1rem;  
}

.skillBar{
    /* margin: rem; */
    width: 150vw;
    max-width: 80%;
    text-align: left;
    margin-bottom: 2rem;  

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px; 
}

.skillBarText{
    /* font-size: 0.9rem;
    font-weight: 200;
    margin: auto;
    border: 3px solid #0ef;
    padding: 5px 25px; 
    border-radius: 0.5rem;
    background: rgb(50,50,50);
    width: 18rem; */
    /* box-shadow: 0 0 30px #0ef; */
}
.desct1,.desct3, .desct5, .desct7, .desct9,.desct11{
    font-size: 0.9rem;
    font-weight: 700;
    font-size: large;
    margin: auto;
    color: #0ef;
    padding: 5px 25px; 
    border-radius: 0.5rem;
    background: rgb(50,50,50);
    width: 14rem;
    /* animation-name: skillI; */
    animation-duration: 5s;
    text-align: center;
    transition: 0.3s;
    /* animation-iteration-count: infinite; */
    /* box-shadow: 0 0 10px #0ef; */
    /* animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.desct2,.desct4, .desct6, .desct8, .desct10,.desct12{
    font-size: 0.9rem;
    font-weight: 700;
    font-size: large;
    margin: auto;
    color: #0ef;
    /* border: 3px solid #0ef; */
    padding: 5px 25px; 
    border-radius: 0.5rem;
    background: rgb(50,50,50);
    width: 14rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    /* animation-name: skillII; */
    animation-duration: 5s;
    text-align: center;
    transition: 0.6s;
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: cubic-bezier(0.9, 0.5, 0.01, 2.9); */
}


.desct2:hover,.desct4:hover, .desct6:hover, .desct8:hover, .desct10:hover,.desct12:hover
{
    color: whitesmoke;
    box-shadow: 0 0 10px #0ef;
    font-size: 80%;
}

.desct1:hover,.desct3:hover, .desct5:hover, .desct7:hover, .desct9:hover,.desct11:hover
{
    color: whitesmoke;
    box-shadow: 0 0 10px #0ef;
    font-size: 80%;
}


/* @keyframes skillI{
    from
    {
        width: 16rem;
    }
    to 
    {
        width: 18rem;
    }
}

@keyframes skillII{
    from
    {
        width: 22rem;
    }
    to 
    {
        width: 18rem;
    }
} */


@media  screen and (max-width : 720px) {
    .skillBarText>p{
        font-size: 2vw;
    }
    
}

@media  screen and (max-width : 480px) {
    .skillBarText>p{
        font-size: 3vw;
    }
    .skillBarText>h2{
        font-size: 5vw;
    }
    
}